<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Familiares</h1>
<div style="display:flex; flex-wrap: wrap">
    {%for familiar in lista_familiares%}
<ul>
    <li><strong>Nombre: </strong>{{ familiar.nombre }}</strong>
    <li><strong>Apellido: </strong>{{ familiar.apellido }}</li>
    <li><strong>Edad: </strong>{{ familiar.edad }}</li>
    <li><strong>Parentesco: </strong>{{ familiar.parentesco }}</li>
    <li><strong>Fecha de Nacimiento: </strong>{{ familiar.fecha_nacimiento }}</li>
</ul>
{% endfor %}
</div>
</body>
</html>